@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}
@font-face
{
font-family: behas;
src: url(Bauhaus1.otf);
}
@font-face
{
font-family: candara;
src: url(candara.ttf);
}
@font-face
{
font-family: neo;
src: url(NeoSans_1.otf);
}

#news_Snippet > span.news_Heading a {
    font-family: neo;  font-size: 17px;  color: #29ABE2;
    text-decoration: none;
}
#news_Snippet > span.news_Heading a:hover {
    color: #4B4B4B;
}
#editors_heading .news_Heading a {
    color: #29ABE2;
    text-decoration: none;
}
#editors_heading .news_Heading a:hover {
    color: #4B4B4B;
}
#editors_thumb img {
    height: 150px;  
    width: 450px;  margin-right: 11px;
}
body{ font-family:behas;
	
	}
#div1{	}
.small_Menu{}
.second_Row{}
.zeroMargin_mobile{margin-left: 0;}
.hide_mobile{display: none;}
/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/
@media only screen 
and (min-width: 200px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 3.0) {
  * {
    
  }
  #div1 {
  }
  .small_Menu {
  }
  .second_Row {
  }
  .hide_tablet {
  display: none;
  }
  .zeroMargin_tablet {
  margin-left: 0;
  }
}
.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;        
}

/* Mobile Layout: 480px and below. */
  
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 86.45%;
	padding-left: 2.275%;
	padding-right: 2.275%;
	clear: none;
	float: none;
}

#div1{
background-color:#29ABE2;	
	
}
.reg_Menu{display:none;}
.mob_Menu{display:block;}
.logo{float: left;}
.logo img{width:70px;}
#right_Menu{float:right}

/* menu tab styling starts here */
#tabContainer {
	width:700px;
	padding:15px;
	background-color:#2e2e2e;
	-moz-border-radius: 4px;
	border-radius: 4px; 
}

#tabs{
	height:43px;
	overflow:hidden;
}

#tabs > ul{
	font-size: 8px;
	list-style:none;
	float: left;
}

#tabs > ul > li{
	margin:0 2px 0 0;
	padding:7px 10px;
	display:block;
	float:left;
	color:#FFF;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius:4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px; 
	
	
}

#tabs > ul > li:hover{
	cursor:pointer;
	color: #333;
}

#tabs > ul > li.tabActiveHeader{
	cursor:pointer;
	color: #333;
}

.first_column{
}

margin-left: 0;
}
.hide_mobile{
display: none;
}

.small_Menu{
    margin-bottom: 0px;
    display: block;
}

#news_Feed{}

.second_Row{}

.zeroMargin_desktop{margin-left: 0;}

.hide_desktop{display: none;}
div.suggest_title a {
    color: #29ABE2;
    text-decoration: none;
}
div.suggest_title a:hover {
    color: #535555;
    text-decoration: none;
}

@media only screen and (min-width: 300px) {

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 86.45%;
	padding-left: 2.275%;
	padding-right: 2.275%;
	clear: none;
	float: none;
}

#div1{
background-color:#29ABE2;	
	
}
.reg_Menu{display:none;}
.mob_Menu{display:block;}
.logo{float: left;}
.logo img{width: 86px;}
#right_Menu{float:right;margin-right: 27px;}

/* menu tab styling starts here */
#tabContainer {
	width:700px;
	padding:15px;
	background-color:#2e2e2e;
	-moz-border-radius: 4px;
	border-radius: 4px; 
}

#tabs{
	height: 68px;


	overflow:hidden;
}

#tabs > ul{
	font-size: 16px;
	list-style:none;
	float: left;
}

#tabs > ul > li{
	margin:0 2px 0 0;
	padding: 8px 5px 0px 4px;
	display:block;
	float:left;
	color: #999;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius:4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px; 
	
	
}

#tabs > ul > li:hover{
	cursor:pointer;
	color: #333;
}

#tabs > ul > li.tabActiveHeader{
	cursor:pointer;
	color: #333;
}

.first_column{
    padding-left: 5px;
}

margin-left: 0;
}
.hide_mobile{
display: none;
}
.zeroMargin_desktop{
margin-left: 0;
}
#heading_Main{font-size: 27px;color: #3D7A84;}

.hide_desktop{
display: none;
}
.search_Field{height:10px; width:80px;}
#search_Field > a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
}
#news_Feed{
    width: auto;
	font-size:10px;
    clear: both;
}
#news_Snippet {
    margin: 0 0 6px 0;
    height: auto;
    margin-bottom: 15px;
}
#news_Image > img {
    height: 52px;
    width: 102px;
    margin-right: 11px;
}
#news_Content {
    float: left;
    width: 100%;
    margin: 15px 0 0 0px;    
}
.bx-wrapper {
	position: relative;
	margin: 0 auto 0px;
	padding: 0;
	*zoom: 1;
}
#news_Snippet > span.news_Heading {
    font-family: neo;
    font-size: 14px;
    color: #29ABE2;
}
#slot_1{float:left;display: block;width: 50%;}
#slot_1 img{width: 81%;height: 8%;}
#slot_2{float: left;display: block;width: 50%;}
#slot_2 img{width: 81%;height: 15%;}
div#movie_Ads {
    float: left;
    
}
div#right_content {
    float: right;
    width: 20%;
    
    height: 750px;
    display: none;
}
div#left_content {
    float: left;
    width: 95%;
}
#second_rowspacer{margin-bottom:15px;}
#trailers_Windows{
    background-color: transparent;
    height: 278px;
    width: 100%;
    float: right;
    padding: 0px 15px 15px 15px;
   

    margin-top: 15px;
} 	
#head_edit > .spacer img{
	width: 150px;
height: 3px;
text-align: left;
display: block;
margin: 5px 0 10px 0;
	}
	
#editors_content p{
    font-family: candara;  font-size: 16px;  line-height: 1.5;  color: #808080;
}
#base_content{background-color: #29ABE2;display: inline-block;width: 100%;padding: 0px 0px 18px 0px;}
div#base_logo {
    float: left;
    margin-left: 8px;
    width: 12%;
}
#base_about_us span{color:white;font-size: 11px;}
div#base_about_us {
    float: left;
    margin-left: 15px;
    width: 21%;
}
#base_contact_us{color:white}
div#base_contact_us {
    float: left;
    margin-left: 15px;
    width: 20%;
}
#base_private{color:white}

#base_private{float:left;margin-left: 20px;width: 20%;}
div#about_text {
    color: rgb(85, 85, 85);
    font-size: 7px;
    margin-top: 0px;
    font-family: candara;
    line-height: 1.5;
}
#base_contact_us span {
    font-size: 11px;
}
#base_private span {
    font-size: 10px;
}
#editors_heading > span.news_Heading {
font-family: neo;
font-size: 16px;
color: #29ABE2;
}
div#tabs a {
    text-decoration: none;
    color: rgb(178, 176, 176);
}
div#tabs a:hover {
    color: black;
}

span.news_Text {
font-family: candara;
font-size: 12px;
}
#left_news #news_Snippet {
    height: auto;
}
div#editors_heading {
    min-height: 51px;
}
div.suggest_title a {
    color: #29ABE2;
    text-decoration: none;
}
div.suggest_title a:hover {
    color: #535555;
    text-decoration: none;
}
@media only screen and (min-width: 480px) {
.mob_Menu{display:none;}
.reg_Menu{display:block;}
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
	clear: none;
	float: none;
	margin-left: auto;
}
#div1 {
	height: 70px;
	background-color:#29ABE2;
	clear: both;
}
.logo{float: left;width: auto;display: block;}
.logo img{width: 87px;}

/* menu tab styling starts here */
#tabContainer {
	width:700px;
	padding:15px;
	background-color:#2e2e2e;
	-moz-border-radius: 4px;
	border-radius: 4px; 
}

#tabs{
	height: auto;
	overflow:hidden;
	float: left;
}

#tabs > ul{
	font-size: 9px;
	list-style:none;
}

#tabs > ul > li{
	margin:0 2px 0 0;
	display:block;
	float:left;
	color:#FFF;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius:4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px; 
	
	
	padding: 4px;
}

#tabs > ul > li:hover{
	 /* old browsers */
	
	color: #333;
}

#tabs > ul > li.tabActiveHeader{
	background: #FFFFFF; /* old browsers */
	
	cursor:pointer;
	color:#333;
}



.hide_tablet{
display: none;
}

.zeroMargin_tablet{
margin-left: 0;
}
#right_Menu{float: right;width: 75%;margin-right: 15px;}
#search_Bar{
    clear: both;
    margin-left: 0px;
}

#social{float:right;margin-top: 17px; display:none}
/* menu tab styling ends here */

#search_Field{
    float: right;
    margin-right: 47px;
    margin-top: 18px;
}
#search_Field > a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
}
.first_column {
	
}
.zeroMargin_desktop {
margin-left: 0;
}
.hide_desktop {
display: none;
}
#heading_Main {
    font-size: 2.2em;
    color: #3D7A84;
}
.spacer{}
#new_Releases > span.spacer > img {
    width: 350px;
    height: 4px;
}

#news_Snippet {
    margin: 0 0 16px 0;
    height: auto;
}
/* menu tab styling ends here */
#news_Snippet > span.news_Heading {
    font-family: neo;
    font-size: 13px;
    color: #29ABE2;
}
span.news_Text {
    font-family: candara;
	



    font-size: 12px;
}
#slot_1{float:left;display: block;width: 50%;}
#slot_1 img{width: 81%;height: 8%;}
#slot_2{float: left;display: block;width: 50%;}
#slot_2 img{width: 81%;height: 15%;}
div#movie_Ads {
    float: left;
    
}
div#right_content {
    float: right;
    width: 20%;
   
    height: 1000px;
}
div#left_content {
    float: left;
    width: 70%;
}
#second_rowspacer{margin-bottom:15px;}
div#tabs a {
    text-decoration: none;
    color: gray;
}
div#tabs a:hover {
    color: black;
}
#left_news #news_Snippet {
    height: 100px;
}
div#editors_heading {
    min-height: 51px;
}
div.suggest_title a {
    color: #29ABE2;
    text-decoration: none;
}
div.suggest_title a:hover {
    color: #535555;
    text-decoration: none;
}
}

/* menu tab styling ends here */
/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 701px) {
.mob_Menu{display:none;}
.reg_Menu{display:block;}
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
	clear: none;
	float: none;
	margin-left: auto;
}
#div1 {
	height: 74px;
	background-color:#29ABE2;
	clear: both;
}
.logo{float: left;width: auto;display: block;}
.logo img{width:100px;}

/* menu tab styling starts here */
#tabContainer {
	width:700px;
	padding:15px;
	background-color:#2e2e2e;
	-moz-border-radius: 4px;
	border-radius: 4px; 
}

#tabs{
	height: auto;
	overflow:hidden;
	float: left;
	margin-top: 7px;
}

#tabs > ul{
	font-size: 9px;
	list-style:none;
}

#tabs > ul > li{
	margin:0 2px 0 0;
	padding:7px 10px;
	display:block;
	float:left;
	color:#FFF;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius:4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px; 
	
	
}

#tabs > ul > li:hover{
	 /* old browsers */
	
	color: #333;
}

#tabs > ul > li.tabActiveHeader{
	background: #FFFFFF; /* old browsers */
	
	cursor:pointer;
	color:#333;
}

#new_Releases > div:nth-child(1) > span.spacer > img {
    width: 359px;
    height: 3px;
}
#new_Releases > div:nth-child(1) {
    margin: 9px 0 10px 10px;
}

.hide_tablet{
display: none;
}

.zeroMargin_tablet{
margin-left: 0;
}
#right_Menu{float: right;width: auto;margin-right: 27px;}
#search_Bar{
    clear: both;
    margin-left: 0px;
}

#social{float:right;margin-top: 17px;}
/* menu tab styling ends here */

#search_Field{
    float: right;
    margin-right: 47px;
    margin-top: 18px;
}
#search_Field > a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
}
.first_column {
	
}
.zeroMargin_desktop {
margin-left: 0;
}
.hide_desktop {
display: none;
}
#heading_Main {
    font-size: 2.2em;
    color: #3D7A84;
}
.spacer{}
#new_Releases > span.spacer > img {
    width: 350px;
    height: 4px;
}
#news_Snippet {
    margin: 0 0 16px 0;
    min-height: 98px;
}

/* menu tab styling ends here */
#news {
    float: left;
    padding-left: 10px;
    width: 49%;
}
#trailers_Windows{
    background-color: transparent;
    height: 283px;
    width: 583px;
    float: right;
    padding: 0px 15px 15px 15px;
   
}
#trailers_Windows{float:right;width: 44%;}
#trailers_Windows img{width:250px;height:3px;}
#trailers_Windows iframe{margin-top:25px;}
span.news_Text {
    font-family: candara;
	font-size:14px;
}
#slot_1{float:left;display: block;width: 50%;}
#slot_1 img{width: 81%;height: 8%;}
#slot_2{float: left;display: block;width: 50%;}
#slot_2 img{width: 81%;height: 15%;}
div#movie_Ads {
    float: left;
    
}
div#right_content {
    float: right;
    width: 20%;
    
    height: 1000px;
}
div#left_content {
    float: left;
    width: 80%;
}
#second_rowspacer{margin-bottom:15px;}
#news_Snippet > span.news_Heading {
    font-family: neo;
    font-size: 17px;
    color: #29ABE2;
}
#news .spacer img{
width: 250px;
height: 3px;
}
#editors_heading > span.news_Heading {
font-family: neo;
font-size: 19px;
color: #29ABE2;
}
div#tabs a {
    text-decoration: none;
    color: white;
}
div#tabs a:hover {
    color: gray;
}
#left_news #news_Snippet {
    height: 100px;
}
div#editors_heading {
    min-height: 51px;
}
div.suggest_title a {
    color: #29ABE2;
    text-decoration: none;
}
div.suggest_title a:hover {
    color: #535555;
    text-decoration: none;
}
}

@media only screen and (min-width: 800px) {
.reg_Menu{display:block;}


.mob_Menu{display:none;}
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
	clear: none;
	float: none;
	margin-left: auto;
}
#div1 {
	height: 72px;
	background-color:#29ABE2;
	clear: both;
	margin-bottom: 0px;
}
.logo{float: left;width: auto;display: block;}
.logo img{width:100px;}

/* menu tab styling starts here */
#tabContainer {
	width:700px;
	padding:15px;
	background-color:#2e2e2e;
	-moz-border-radius: 4px;
	border-radius: 4px; 
}

#tabs{
	height:43px;
	overflow:hidden;
	float: left;
	/* vertical-align: middle; */
	text-align: center;
}

#tabs > ul{
	font-size: 14px;
	list-style:none;
}

#tabs > ul > li{
	margin:0 2px 0 0;
	padding:7px 10px;
	display:block;
	float:left;
	color:#FFF;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius:4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px; 
	
	
}

#tabs > ul > li:hover{
	 /* old browsers */
	
	color: #333;
}

#tabs > ul > li.tabActiveHeader{
	background: #FFFFFF; /* old browsers */
	
	cursor:pointer;
	color:#333;
}


.hide_tablet{
display: none;
}

.zeroMargin_tablet{
margin-left: 0;
}
#right_Menu{float: right;width: auto;margin-right: 60px;}
#search_Bar{
    clear: both;
    margin-left: 0px;
}

#social{float:right;margin-top: 17px;}
/* menu tab styling ends here */

#search_Field{
    float: right;
    margin-right: 47px;
    margin-top: 18px;
}
#search_Field > a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}
.first_column {
	
}
.zeroMargin_desktop {
margin-left: 0;
}
.hide_desktop {
display: none;
}
#heading_Main {
    font-size: 1.9em;
    color: #3D7A84;

}
.spacer{}
#new_Releases > span.spacer > img {
    width: 350px;
    height: 4px;
}

#news_Snippet {
    margin: 0 0 16px 0;
    min-height: 98px;
}
/* menu tab styling ends here */
span.news_Text {
    font-family: candara;
	font-size:14px;
}
#slot_1{float:left;display: block;width: 50%;}
#slot_1 img{width: 81%;height: 8%;}
#slot_2{float: left;display: block;width: 50%;}
#slot_2 img{width: 81%;height: 15%;}
div#movie_Ads {
    float: left;
    
}
div#right_content {
    float: right;
    width: 20%;
   
    height: 1000px;
}
div#left_content {
    float: left;
    width: 80%;
}
#second_rowspacer{margin-bottom:15px;}
#news {
    float: left;
    padding-left: 10px;
    width: 49%;
}
#left_news{width:50%;margin-right: 15px;}
#left_news #news{float: left;
    padding-left: 10px;
    width: 100%;}
#trailers_Windows{
    background-color: transparent;
    height: 339px;
    width: 583px;
    float: right;
    padding: 0px 15px 15px 15px;
   
}
#trailers_Windows{float:right;width: 44%;}
#trailers_Windows img{width:250px;height:3px;}
#trailers_Windows iframe{margin-top:25px;}
span.news_Text {
    font-family: candara;

	font-size:14px;
}
#slot_1{float:left;display: block;width: 50%;}
#slot_1 img{width: 81%;height: 8%;}
#slot_2{float: left;display: block;width: 50%;}
#slot_2 img{width: 81%;height: 15%;}
div#movie_Ads {
    float: left;
    
}
div#right_content {
    float: right;
    width: 20%;
   
    height: 1000px;
}
div#left_content {
    float: left;
    width: 80%;
}
#second_rowspacer{margin-bottom:15px;}
#news_Snippet > span.news_Heading {
    font-family: neo;
    font-size: 17px;
    color: #29ABE2;
}
#news .spacer img{
width: 250px;
height: 3px;
}
div#exclusive_snip {
float: left;
width: 46%;
height: auto;
margin-right: 20px;
}
#editors_heading > span.news_Heading {
font-family: neo;
font-size: 19px;
color: #29ABE2;
}
div#tabs a {
    text-decoration: none;
    color: white;
}
div#tabs a:hover {
    color: gray;
}
#left_news #news_Snippet {
    height: 100px;
}
div#editors_heading {
    min-height: 51px;
}
div.suggest_title a {
    color: #29ABE2;
    text-decoration: none;
}
div.suggest_title a:hover {
    color: #535555;
    text-decoration: none;
}
}



/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 1024px) {
.mob_Menu{display:none;}
.gridContainer {
	width: 95%;
	max-width: 1900px;
	padding-left: 0.75%;
	padding-right: 0.75%;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
}
#div1 {
	height: 105px;
	background-color:#29ABE2;
	display:inline-block;
	
}
.logo{
    float: left;
    display: block;
	
    padding-right: 0px;
	
    padding-left: 3px;
}
.logo img{width: 163px;}

/* menu tab styling starts here */


#tabs{
	height: auto;
	overflow:hidden;
	float: left;
	margin-left: 0px;
	margin-top: 19px;
	
}

#tabs > ul{
	font-size: 16px;
	list-style:none;
	margin: 0px;
}

#tabs > ul > li{
	margin:0 2px 0 0;
	padding:7px 10px;



	display:block;
	float:left;
	color:#FFF;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius:4px;
	border-top-right-radius: 4px;

	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px; 
	
	
}

#tabs > ul > li:hover{
	
	
	cursor:pointer;
	color: #333;
}

#tabs > ul > li.tabActiveHeader{

	
	cursor:pointer;
	color: #333;
}

#right_Menu{float: right;width: auto;margin-right: 0px;padding-right: 15px;}
#search_Bar{
    clear: both;
    margin-left: 0px;
}


#social{float:right;margin-top: 17px;}
/* menu tab styling ends here */

#search_Field{
    float: right;
    margin-right: 47px;
    margin-top: 18px;
}
#search_Field > a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}
.first_column {
	
}
.zeroMargin_desktop {
margin-left: 0;
}
.hide_desktop {
display: none;
}
#heading_Main {
    font-size: 2.2em;
    color: #3D7A84;
}
.spacer{}
#new_Releases > span.spacer > img {
    width: 350px;
    height: 4px;
}
span.news_Text {
    font-family: candara;
	font-size:14px;
}
#slot_1{float:left;display: block;width: 50%;}
#slot_1 img{width: 81%;height: 8%;}
#slot_2{float: left;display: block;width: 50%;}
#slot_2 img{width: 81%;height: 15%;}
div#movie_Ads {
    float: left;
    
}
div#right_content {
    float: right;
    width: 20%;
    
    height: 1000px;
}
div#left_content {
    float: left;
    width: 80%;
}
#second_rowspacer{margin-bottom:15px;}
#news {
    float: left;
    padding-left: 10px;
    width: 49%;
}
#trailers_Windows{
    background-color: transparent;
    height: 325px;
    width: 583px;
    float: right;
    padding: 0px 15px 15px 15px;
   
}
#trailers_Windows{float:right;width: 44%;}
#trailers_Windows img{width:250px;height:3px;}
#trailers_Windows iframe{margin-top:25px;}

span.news_Text {
    font-family: candara;
	
    font-size: 13px;
}
#slot_1{float:left;display: block;width: 50%;}
#slot_1 img{width: 81%;height: 8%;}
#slot_2{float: left;display: block;width: 50%;}
#slot_2 img{width: 81%;height: 15%;}
div#movie_Ads {
    float: left;
    
}
div#right_content {
    float: right;
    width: 20%;
    
    height: 1000px;
}
div#left_content {
    float: left;
    width: 80%;
}
#second_rowspacer{margin-bottom:15px;}
#news_Snippet > span.news_Heading {
    font-family: neo;
    font-size: 17px;
    color: #29ABE2;
}
#news .spacer img{
width: 250px;
height: 3px;
}
div#exclusive_snip {
float: left;
width: 45%;
height: auto;
margin-right: 36px;
}
#editors_content p{font-family:candara;font-size: 16px;line-height: 1.5;color: #808080;}
#editors_heading > span.news_Heading {
font-family: neo;
font-size: 19px;
color: #29ABE2;
}
div#tabs a {
    text-decoration: none;
    color: white;
}
div#tabs a:hover {
    color: gray;
}
#left_news #news_Snippet {
    height: 100px;
}
div#editors_heading {
    min-height: 51px;
}
div.suggest_title a {
    color: #29ABE2;
    text-decoration: none;
}
div.suggest_title a:hover {
    color: #535555;
    text-decoration: none;
}
}



@media only screen and (min-width: 1240px) {
.mob_Menu{display:none;}
.gridContainer {
	width: 95%;
	max-width: 1900px;
	padding-left: 0.75%;
	padding-right: 0.75%;



	margin: auto;

	clear: none;
	float: none;
	margin-left: auto;
}
#div1 {
	height:120px;
	background-color:#29ABE2;
	display:inline-block;
	
}
.logo{
    float: left;
    display: block;
	padding-right:0px;
	padding-left:10px;
}
.logo img{width: 173px;}

/* menu tab styling starts here */


#tabs{
	height: auto;
	overflow:hidden;
	float: left;
	margin-left: 0px;
	margin-top: 19px;
	
}

#tabs > ul{
	font-size: 20px;
	list-style:none;
	margin: 0px;
}

#tabs > ul > li{
	margin:0 2px 0 0;
	padding:7px 10px;
	display:block;
	float:left;
	color:#FFF;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius:4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px; 
	
	
}



#tabs > ul > li:hover{
	
	
	cursor:pointer;
	color: #333;
}

#tabs > ul > li.tabActiveHeader{

	
	cursor:pointer;
	color: #333;
}

#right_Menu{float:right;width: auto;}
#search_Bar{
    clear: both;
    margin-left: 10%;
}

#social{float:right;margin-top: 17px;}
/* menu tab styling ends here */

#search_Field{
    float: right;
    margin-right: 47px;
    margin-top: 18px;
}
#search_Field > a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}
.first_column {
	
}
.zeroMargin_desktop {
margin-left: 0;
}
.hide_desktop {
display: none;
}
#heading_Main {
    font-size: 2.2em;
    color: #3D7A84;
}
.spacer{}
#new_Releases > span.spacer > img {
    width: 350px;
    height: 4px;
}
span.news_Text {
    font-family: candara;
	font-size:14px;
}
#slot_1{float:left;display: block;width: 50%;}
#slot_1 img{width: 81%;height: 8%;}
#slot_2{float: left;display: block;width: 50%;}
#slot_2 img{width: 81%;height: 15%;}
div#movie_Ads {
    float: left;
    
}
div#right_content {
    float: right;
    width: 20%;
    
    height: 1000px;
}
div#left_content {
    float: left;
    width: 80%;
}
#second_rowspacer{margin-bottom:15px;}
#news {
    float: left;
    padding-left: 10px;
    width: 49%;
}
#trailers_Windows{
    background-color: transparent;
    height: 383px;
    width: 583px;
    float: right;
    padding: 0px 15px 15px 15px;
   
}
#trailers_Windows{float:right;width: 45%;}
#trailers_Windows img{width:250px;height:3px;}
#trailers_Windows iframe{margin-top:25px;}
span.news_Text {
    font-family: candara;
	
    font-size: 14px;
}
#slot_1{float:left;display: block;width: 50%;}
#slot_1 img{width: 81%;height: 8%;}
#slot_2{float: left;display: block;width: 50%;}
#slot_2 img{width: 81%;height: 15%;}
div#movie_Ads {
    float: left;
    
}
div#right_content {
    float: right;
    width: 20%;
    
    height: 1000px;
}
div#left_content {
    float: left;
    width: 80%;
}
#second_rowspacer{margin-bottom:15px;}
#news_Snippet > span.news_Heading {
    font-family: neo;
    font-size: 17px;
    color: #29ABE2;
}
#left_news{width:50%;margin-right: 15px;}
#left_news #news{float: left;
    padding-left: 10px;
    width: 100%;}
#head_edit > .spacer img{width:250px;
	height:3px;text-align: left;display: block;margin: 5px 0 0 0;}
	div#head_edit {
    margin-bottom: 32px;
    margin-top: 15px;
}
div#editors_heading {
    margin-bottom: 9px;
}
div#twitter_feed{float:right}	
#twitter_feed iframe{
    width: 572px;
    height: 389px;
}
#base_content{background-color: #29ABE2;display: inline-block;padding: 15px 15px 15px 15px;width: 100%;}
div#base_logo {
    float: left;
    margin-left: 15px;
}
#base_about_us span{color:white;font-size: 27px;}
div#base_about_us {
    float: left;
    margin-left: 15px;
    width: 15%;
}
#base_contact_us{color:white}
div#base_contact_us {
    float: left;
    margin-left: 15px;
    width: 250px;
}
#base_private{color:white}
#base_private{float:left;margin-left: 20px;width: 250px;}
div#about_text {
    color: rgb(85, 85, 85);
    font-size: 15px;
    margin-top: 10px;
    font-family: candara;
    line-height: 1.5;
}
#base_contact_us span {
    font-size: 27px;
}
#base_private span {
    font-size: 27px;
}
#heading_Main img{
width: 250px;
height: 3px;
}
div#exclusive_snip {
float: left;
width: 46%;
height: auto;
}
#editors_content p{font-family:candara;font-size: 16px;line-height: 1.5;color: #808080;}
#editors_heading > span.news_Heading {
font-family: neo;
font-size: 19px;
color: #29ABE2;
}
div#tabs a {
    text-decoration: none;
    color: white;
}
div#tabs a:hover {
    color: gray;
}
#left_news #news_Snippet {
    height: 100px;
}
div#editors_heading {
    min-height: 51px;
}
div.suggest_title a {
    color: #29ABE2;
    text-decoration: none;
}
div.suggest_title a:hover {
    color: #535555;
    text-decoration: none;
}
}

@media only screen and (min-width: 1399px) {
.mob_Menu{display:none;}
.gridContainer {
	width: 85%;
	max-width: 1900px;
	padding-left: 0.75%;
	padding-right: 0.75%;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
}
#div1 {
	height: 114px;
	background-color: #29ABE2;
	display:inline-block;
	
}
.logo{
    float: left;
    display: block;
	padding-right:0px;
	
    padding-left: 6px;
}
.logo img{width: 166px;}

/* menu tab styling starts here */


#tabs{

	height: auto;
	overflow:hidden;
	/* float: left; */



	margin-left: 0px;
	margin-top: 19px;
	
}

#tabs > ul{
	font-size: 1.35em;
	list-style:none;
	margin: 0px;
}

#tabs > ul > li{
	margin:0 2px 0 0;
	padding:7px 10px;
	display:block;
	float:left;
	color:#FFF;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius:4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px; 
	
	
}

#tabs > ul > li:hover{
	

	
	cursor:pointer;
	color: #333;
}


#tabs > ul > li.tabActiveHeader{

	
	cursor:pointer;
	color: #333;
}

#right_Menu{float:left;width: auto;margin-left: 22%;}
#search_Bar{
    clear: both;
    margin-left: 0;
}


#social{float:right;margin-top: 17px;}
/* menu tab styling ends here */

#search_Field{

    float: right;
    margin-right: 47px;
    margin-top: 18px;
}
#search_Field > a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}
.first_column {
padding:0px;	
}
#new_Releases > div:nth-child(1) {
    margin-top: 0px;
    margin-left: 24px;
    margin-bottom: 17px;
}
#new_Releases > div:nth-child(1) > span.spacer > img {
    width: 250px;
    height: 3px;
}
.zeroMargin_desktop {
margin-left: 0;
}
.hide_desktop {


display: none;
}
#heading_Main {
    font-size: 2.2em;
    color: #3D7A84;
}
.spacer{}
#new_Releases > span.spacer > img {
    width: 350px;
    height: 4px;
}
#news_Content {
    float: left;
    width: 100%;
    margin: 15px 0 0 15px;    
}
#news_Snippet > span.news_Heading {
    font-family: neo;
    font-size: 17px;
    color: #29ABE2;
}

#news {
    float: left;
    padding-left: 10px;
    width: 49%;
}
#left_news{width:50%;margin-right: 15px;}
#left_news #news{float: left;
    padding-left: 10px;
    width: 100%;}
#news > div:nth-child(1) > span.spacer > img {      width: 250px;
      height: 3px;}
#news > div:nth-child(1) {
    margin: 0 0 0 15px;
}
#news_Snippet {
    margin: 0 0 16px 0;
    height: auto;
}
#news_Image > img {
    height: 91px;
    width: 162px;
    margin-right: 11px;
}
#news_Feed{
    
	font-size:20px;
}
#trailers_Windows{
    background-color: transparent;
    height: 383px;
    width: 583px;
    float: right;
    padding: 0px 15px 15px 15px;
   
}

#trailers_Windows{float:right;width: 44%;}
#trailers_Windows img{width:250px;height:3px;}
#trailers_Windows iframe{margin-top:25px;}
span.news_Text {
    font-family: candara;


	font-size:14px;
}
#slot_1{float:left;display: block;width: 50%;text-align: left;}
#slot_1 img{width: 81%;height: 8%;}
#slot_2{float: left;display: block;width: 50%;text-align: center;}
#slot_2 img{width: 81%;height: 15%;}
div#movie_Ads {
    float: left;
    
}
div#right_content {
    float: right;
    width: 20%;
    
    height: 756px;
    display: block;
}
div#left_content {
    float: left;
    width: 78%;
}
#second_rowspacer{margin-bottom:15px;}

div#exclusive_snip {
    float: left;
    width: 45%;
	
    height: auto;
	
}
div#editors_choice {
    float: right;
    width: 45%;
    
    height: auto;
}
#editors_content p{font-family:candara;font-size: 16px;line-height: 1.5;color: #808080;}
#editors_heading > span.news_Heading{font-family: neo;
    font-size: 19px;
    color: #29ABE2;}
#head_edit > .spacer img{width:250px;
	height:3px;text-align: left;display: block;margin: 5px 0 0 0;}
	div#head_edit {
    margin-bottom: 32px;
    margin-top: 15px;
}
div#editors_heading {
    margin-bottom: 9px;
}
div#twitter_feed{float:right}	
#twitter_feed iframe{
    width: 572px;
    height: 389px;
}
#base_content{background-color: #29ABE2;display: inline-block;padding: 15px 15px 15px 15px;width: 100%;}
div#base_logo {
    float: left;
    margin-left: 15px;
}
#base_about_us span{color:white;font-size: 27px;}
div#base_about_us {
    float: left;
    margin-left: 15px;
    width: 15%;
}
#base_contact_us{color:white}
div#base_contact_us {
    float: left;
    margin-left: 15px;
    width: 250px;
}
#base_private{color:white}

#base_private{float:left;margin-left: 20px;width: 250px;}
div#about_text {
    color: rgb(85, 85, 85);
    font-size: 15px;
    margin-top: 2px;
    font-family: candara;
    line-height: 1.5;
}
#base_contact_us span {
    font-size: 27px;
}
#base_private span {
    font-size: 27px;
}
div#tabs a {
    text-decoration: none;
    color: white;
}
div#tabs a:hover {
    color: gray;
}

#left_news #news_Snippet {
    height: auto;
	min-height:100px;
}
div#editors_heading {
    min-height: 51px;
}
.suggest_title a {
    color: #29ABE2;
    text-decoration: none;
}
.suggest_title a:hover {
    color: #535555;
    text-decoration: none;
}
}